.inter-basefont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

h2 {
    font-size: 35px;
    margin-top: 0;
    padding-top: 0;
}

h3 {
    font-size: 20px;
}

hr {
    color: rgb(139, 139, 139);
}

body {
    font-family: Inter;
    margin: 0;
    padding: 0;
}

/* HEADER - MENU DE ARRIBA */

header {
    width: 100%;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 2px 15px 0px #b2b2b2;
}
 
.logo {
    display: flex;
    align-items: center; 
    float: left;
    padding-left: 20px;
}

.logo img {
    width: 35px; 
    height: auto; 
    padding-right: 20px;
}

.menu  {
    display: flex;
    gap: 20px; 
    float: left;
    font-size: 12px;
    font-weight: regular;
    color: #58626B;
}

.active {
    color: #1A73E8;
    font-weight: bold;
}

.hoverwatch:hover {
    color: black;
    font-weight: bold;
}

.hoverwatch:visited {
    color: #58626B;
    text-decoration: none;
}

.hoverwatch {
    text-decoration: none;
}

.header-icons {
    padding-right: 30px;
}

.header-icons img {
    width: 19px; 
    height: auto;
    margin-left: 10px;
} 

.seeproductdetail {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.arrow {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.prodtxt {
    margin-left: 5px;
}

/* MAIN- Centro */

main{
    display: flex;
    margin-right: 0;
    position: relative;
}

.product_main{
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    align-content: center;
}

.product_main img{
    border-radius: 50%;
    max-width: 100%;
    margin-bottom: 10px;
    width: 43px;
    height: 36px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}

figure{
    display: flex;
    border-radius: 20px;
    background-color: #F8F9FA;
    height: 500px;
    margin: 20px;
    margin-top: 0;
    align-content: center;
    justify-content: center;
    width: 66%;
}

figure img{
    height: 70%;
    justify-content: center;
    align-self: center;
}

.descripcionproducto {
    display: block;
    padding-left: none;
    padding-top: none;
    position: relative;
    width: 34%;
    margin-right: 20px;
}

.productname {
    margin-bottom: 30px;
}

.letrap {
    font-size: 12px;
    font-weight: regular;
    color: #58626B;
    align-items: center;
}

.separator_line1 {
    margin-right: 30px;
}


/* CAJAS PEQUES */

.watches-container{
    display: flex;
    flex-wrap: wrap;
    padding: none;
    justify-content: space-between;
}

.watch-card{
    width: 32%;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    padding-left: none;
    padding-right: none;
    box-sizing: border-box;
    text-align: center;
}

.watches-container img{
    width: 60px;
    height: auto; 
    text-align: center;
}

.cartcontainer{
    background-color: #F8F9FA;
    border-radius: 15px;
    margin-top: 15px;
    padding: 20px;
    padding-top: 30px;
}

.cantidadycart {
    display: flex;
}

select{
    text-align: center;
    border-radius: 5px;
    height: 50px;
    width: 80px;
    margin-right: 10px;
    border: 1px solid rgb(107, 107, 107);
    background-color: #F8F9FA;
}

.azulpitufo{
    background-color: #1a73e8;
    color: white;
    border-radius: 5px;
    border-width: 0;
    height: 50px;
    width: 280px;
    font-family: Inter;
    font-weight: bold;
}

.deliver {
    font-size: 12px;
    font-weight: bold;
    color: #58626B;
}

.deliverysection {
    margin-top: 30px;
    margin-bottom: -5px;
}

.letraazulpitufo{
    color:  #1a73e8;
}

/*FOOTER*/

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 8px;
    color: #58626B;
    background-color: #F8F9FA;
    padding: 10px;
    display: flex;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}

.footericons {
    justify-content: center; 
    width: 35%;
    display: flex;
}

.footericons img {
    width: 15px; 
    height: 15px;
    margin-left: 10px; 
}

.footertexts{
    display: flex;
    justify-content: space-between;
    width:40%;
    align-items: center;
    margin-right: 15%;
}

.spain {
    display: flex;
    align-items: center;
}

.spain img {
    margin-right: 5px; 
}


